@font-face {
    font-family: 'HelveticaNeueLT Arabic 55 Roman';
    src: url('HelveticaNeueLTArabic-Roman.woff2') format('woff2'),
        url('HelveticaNeueLTArabic-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

